{% extends 'base.html.twig' %}

{% block body_id 'register_new' %}

    {% block main %}
        <h1>{{ 'title.event_register'|trans }}</h1>
        {{ include('event/_form.html.twig', {
        include_back_to_home_link: true,
    }) }}

    {% endblock %}
    {% block sidebar %}
        <div class="section about">
            <div class="well well-lg">
                <span>
                    {{ 'help.remain_slots'|trans|raw }} 
                </span>:    
                <span class="label label-warning" style="font-size:19px">
                    {{ event.freeOccupancy }}
                </span>
            </div>
        </div>
    {% endblock %}

